@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        <br />@ViewData["dane"]
        <br />@ViewData["computer"]
    </h1>
    <h3>Laboratorium 11</h3>
</div>
